.Card {
  width: 300px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  margin: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &-top {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  &-title {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  &-type {
    display: flex;
    color: lightgray;
    padding: 5px 0;
  }
  &-text {
    display: flex;
    text-align: left;
  }
  &-bottom {
    font-weight: bold;
    color: lightgray;
    height: 30px;
    border-top: 1px solid #d3d3d3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
  }
  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}