.Header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 80px;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  padding: 10px 0 10px 30px;
  color: darkblue;
  &-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  &-notificationIcon {
    cursor: pointer;
  }
}