.Header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
  font-size: 32px;
  font-weight: 500;
  padding: 10px 0 10px 30px;
  &-right {
    display: flex;
    align-items: center;
  }
  &-notificationIcon {
    cursor: pointer;
  }
}