.sidebar {
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #D3D3D3;
  box-sizing: border-box;
  &-icons {
    padding: 50px 0;
  }
  &-route {
    display: flex;
    &-active {
      display: flex;
      .MuiSvgIcon-root {
        fill: blue;
      }
    }
    &-bar {
      width: 10px;
      height: 60px;
      margin-right: 10px;
      &-active {
        width: 10px;
        height: 60px;
        margin-right: 10px;
        border-radius: 0 8px 8px 0;
        background-color: turquoise;
      }
    }
  }
  &-account {
    
  }
}