.Sidebar {
  width: 80px;
  height: 100vh;
  overflow-y: scroll;
  @media screen and (min-width: 500px) {
    height: 100%;
  }
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  flex-direction: column;
  border-right: 1px solid #D3D3D3;
  box-sizing: border-box;
  &-icons {
    padding: 50px 0;
  }
  &-route {
    display: flex;
    &-active {
      display: flex;
      .MuiSvgIcon-root {
        fill: blue;
      }
    }
    &-bar {
      width: 10px;
      height: 60px;
      margin-right: 10px;
      &-active {
        width: 10px;
        height: 60px;
        margin-right: 10px;
        border-radius: 0 8px 8px 0;
        background-color: turquoise;
      }
    }
  }
  &-account {
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  img {
    width: 40px;
    height: 40px;
  }
}